body {
  font-family: 'Proxima Nova Rg', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
*:focus { outline: none; }
input { color: var(--font-color); }
input::placeholder,
input::-moz-placeholder { color: var(--font-color); }