.loading {
    display: flex;
    flex: 1 0 auto;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-content: center;
}
.loading img {
    width: 120px;
}

.lander {
    background-position: center;
    background-size: cover;
    display: flex;
    flex: 1 0 auto;
    height: 100vh;
    position: relative;
    width: 100vw;
    z-index: 1;
}

.lander:after {
    background: linear-gradient(180deg, rgba(51, 51, 51, 0.20) 0%, rgba(73, 73, 73, 0.8) 70%);
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 11;
}

.container {
    color: #fff;
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    height: 100vh;
    width: 100vw;
    z-index: 111;
}

.weather {
    display: flex;
    flex: 0 0 auto;
    flex-wrap: wrap;
    width: 100%;
    padding-top: 15%;
    justify-content: center;
}
.weather-icon-box {
    display: block;
    max-height: 120px;
    text-align: center;
    width: 100%;
}
.weather-icon {
    width: 180px;
}
.weather-text {
    font-size: 3em;
    margin-bottom: 0.5rem;
    text-align: center;
    width: 100%;
}
.weather-suplimentary {
    align-items: center;
    display: flex;
    flex: 0 0 auto;
    justify-content: center;
}
.weather-temp {
    padding-right: 16px;
    margin: 0;
}
.weather-wind {
    width: 24px;
}

.quotebox {
    bottom: 0;
    display: block;
    font-size: 0.85em;
    left: 0;
    position: absolute;
    right: 0;
    width: 100%;
    text-align: center;
}
.quote { }
.quote p {
    margin-bottom: 0.6em;
}