.loading {
    display: flex;
    flex: 1 0 auto;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-content: center;
}
.loading img {
    width: 120px;
}

.lander {
    background-position: center;
    background-size: cover;
    display: flex;
    flex: 1 0 auto;
    height: 100vh;
    position: relative;
    width: 100vw;
    z-index: 1;
}

.lander:after {
    background: linear-gradient(180deg, rgba(51, 51, 51, 0.10) 0%, rgba(72, 75, 78, 0.6) 80%);
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 11;
}

.container {
    color: #fff;
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    height: 100vh;
    width: 100vw;
    z-index: 111;
}